body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.container {
    display: grid;
    grid-template: auto auto / repeat(4, auto);
    grid-template-areas: "daniel daniel jonathan kira" "jeanette patrick patrick kira";
    grid-gap: 25px;
    padding: 10%;
    background-color: hsl(210, 46%, 95%);
}

#daniel {
    grid-area: daniel;
    background-color: hsl(263, 55%, 52%);
}
#jonathan {
    grid-area: jonathan;
    background-color: hsl(217, 19%, 35%);
}
#kira {
    grid-area: kira;
    background-color: hsl(0, 0%, 100%);
}
#jeanette {
    grid-area: jeanette;
    background-color: hsl(0, 0%, 100%);
}
#patrick {
    grid-area: patrick;
    background-color: hsl(219, 29%, 14%);
}

.testimony {
    border-radius: 1em;
    padding: 2em;
    color: hsl(0, 0%, 81%);
    font-weight: 500;
    line-height: 1.5em;
}

header {
    display: flex;
}

.profile-pic {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.name h1 {
    font-weight: 600;
}

.name p {
    opacity: 50%;
}

.content h2 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.content p {
    opacity: 70%;
}

#kira, #jeanette {
    color: hsl(217, 19%, 35%);
}









.attribution {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 11px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color:hsl(219, 29%, 14%);
}

.attribution a:link, .attribution a:visited, .attribution a:active {
    color: blue;
}

.attribution a:hover {
    color: darkblue;
}

@media (max-width: 500px) {
    .attribution {
        position: absolute;
        writing-mode: horizontal-tb;
        transform: none;
        width: 100%;
        right: initial;
        text-align: center;
    }
}